@import url("https://fonts.googleapis.com/css2?family=Anton&family=Asap+Condensed:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Anton&family=Asap+Condensed:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=EB+Garamond:ital,wght@0,400..800;1,400..800&family=Roboto:ital,wght@0,100..900;1,100..900&family=Rokkitt:ital,wght@0,100..900;1,100..900&display=swap");

* {
  box-sizing: border-box;
}

body {
  font-family: "Asap Condensed", sans-serif;
  margin: 0;
}

section {
  width: 100%;
  max-width: 600px;
  text-align: center;
}

h1 {
  color: rgb(255, 255, 255);
  font-size: 2em;
}

#product-overview {
  padding: 1rem;
  background: url("freedom.webp");
  border: black 10px solid;
  width: 100%;
  margin: 1rem;
  height: 200px;
}

#product-overview h1 {
  padding: 1rem;
  background-color: #45e905;
  font-family: "Roboto", sans-serif;
}

#pricing-plans {
  padding: 1rem;
  background-color: #eed600;
}

.section-title {
  color: aqua;
}

.main-header {
  background-color: #2ddf5c;
  width: 100%;
  padding: 8px 16px;
}

.main-header ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.main-header a {
  text-decoration: none;
  color: white;
  padding: 8px 16px;
  transition: background-color 0.3s;
  font-weight: bold;
}

.main-header > div {
  display: inline-block;
}

.main-nav__item {
  display: inline-block;
  margin: 0 5px;
  font-size: 20px;
}

.main-nav {
  display: inline-block;
  width: calc(100% - 50px);
  text-align: right;
}

.main-nav__item a:hover,
.main-nav__item a:active {
  background-color: rgb(77, 62, 0);
  color: black;
  border-bottom: 5px solid white;
}

p::first-letter {
  font-size: 2em;
  font-weight: bold;
  color: rgb(77, 62, 0);
}


.main-nav__item--cta a{
  color :white;
  background: red;
  padding: 10px 20px;
  border-radius: 8px;
}

.main-nav__item--cta a::hover,
.main-nav__item--cta a:active {
  background: white;
  color: white;
  border: none;
}